[submodule "pack/plugins/start/solarized"]
	path = pack/plugins/start/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/plugins/start/vim-autoformat"]
	path = pack/plugins/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "pack/plugins/start/YouCompleteMe"]
	path = pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/plugins/start/markdown-preview"]
	path = pack/plugins/start/markdown-preview
	url = https://github.com/iamcco/markdown-preview.vim
